
<loader ng-show="isLoad"></loader>
<div class="auth">

   <div class="auth-container">
      <div class="card">
         <header class="auth-header">
            <h1 class="auth-title">
               <div class="logo"> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> </div>
               Palazzo Admin 
            </h1>
         </header>
         <div class="auth-content">
            <form id="login-form" ng-submit="login()" novalidate="">

               <div class="form-group"> <label for="username">Username</label> <input type="text" class="form-control " name="username" id="username"  ng-model="loginDetails.username"  placeholder="Your email address" required> </div>

               <div class="form-group"> <label for="password">Password</label> <input type="password" class="form-control " name="password" ng-model="loginDetails.password" id="password" placeholder="Your password" required> </div>

               <div class="form-group"> <label for="remember">
                  <input class="checkbox" id="remember" type="checkbox"> 
                  <span>Remember me</span>
                  </label> <a ng-click="forgetPassword()" class="forgot-btn pull-right">Forgot password?</a> 
               </div>

               <div class="form-group"> <button type="submit" class="btn btn-block btn-primary">Login</button> </div>
               <div class="form-group">
                  <p class="text-muted text-xs-center">Do not have an account? <a href="/signup">Sign Up!</a></p>
               </div>
            </form>
         </div>
      </div>
     
   </div>
</div>

