<body class="page-login">
   <div class="initail">
      <div>
         <div class="navbar-wrapper">
            <div class="container-fluid">
               <nav role="navigation" class="navbar navbar-fixed-top usernavbar">
                  <div class="navbar-header">
                     <button type="button" data-target="#navbarCollapse" data-toggle="  collapse" class="navbar-toggle">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                  </div>
                  <div id="navbarCollapse" class="collapse navbar-collapse">
                     <ul class="nav navbar-nav navbar-right">
                        <li class="resigster" ng-click="signUp()"><a href="#">Sign Up</a></li>
                        <li class="signs"><a href="#">Sign In</a></li>
                     </ul>
                  </div>
               </nav>
            </div>
         </div>
         <loader ng-show="true"></loader>
         <div class="signbody">
            <div class="container hidden resigform ">
               <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                     <div class="wizard-container">
                        <div class="card wizard-card ct-wizard-orange" id="wizardProfile">
                           <form id="commentForm" name="us.formValidate" method="get" action="" class="form-horizontal">
                              <div id="rootwizard">
                                 <div class="wizard-header">
                                    <h3 class="color">
                                       BUILD YOUR PROFILE 
                                    </h3>
                                 </div>
                                 <ul class="nav nav-pills nav-wizard" id="tabs">
                                    <li><a href="#about" data-toggle="tab">1. User  details</a></li>
                                    <li><a href="#account" data-toggle="tab">2. Plugin Mapping</a></li>
                                    <li><a href="#address" data-toggle="tab">3. Summary Page</a></li>
                                 </ul>
                                 <div class="tab-content">
                                    <div class="tab-pane {{firstTab}}" id="about">
                                       <div class="row ">
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                             <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                   <div class="form-group label-floating {{validateForClass('lastname',user.lastname)}}">
                                                      <label class="control-label">First Name </label>
                                                      <input class="form-control required" type="text" name="firstname" required="required" ng-model="user.firstname">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                             <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                   <div class="form-group label-floating {{validateForClass('lastname',user.lastname)}}">
                                                      <label class="control-label"> Last Name</label>
                                                      <input class="form-control required" type="text" name="lastname" required="required" ng-model="user.lastname">
                                                      <input style="display:none" class="form-control required" type="text" name="emailtest" required="required" ng-model="emailtest">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="row ">
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                             <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                   <div class="form-group label-floating {{validateForClass('username',user.username)}}">
                                                      <label class="control-label">Username </label>
                                                      <input class="form-control" type="text" name="username" required="required" ng-model="user.username">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                             <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                   <div class="form-group label-floating {{validateForClass('password',user.password)}}"">
                                                      <label class="control-label" for="vendorname"> Password
                                                      </label>
                                                      <input class="form-control" type="password" name="password" required="required" ng-model="user.password">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="row ">
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                             <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                   <div class="form-group label-floating {{validateForClass('birth_date',user.birth_date)}}">
                                                      <label class="control-label">Date of  Birth </label>
                                                      <input class="form-control" id="requestdate1" type="text" name="birth_date" required="required" ng-model="user.birth_date">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                             <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group col-md-10 col-sm-10 col-xs-12">
                                                   <div class="form-group label-floating {{validateForClass('email',user.email_id)}}">
                                                      <label class="control-label" for="vendorname"> Email </label>
                                                      <input class="form-control" type="text" name="email" required="required" ng-model="user.email_id">
                                                   </div>
                                                   <span style="color:red" ng-if="email">This mail already taken {{email}}</span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="tab-pane active" id="account">
                                       <div class="columns"  ng-if="billingPlan.billingPlans.length != 0" ng-repeat="datas in billingPlan.billingPlans"  >
                                          <ul class="price" ng-class="{'selecteddiv': datas.class == true}">
                                             <li class="header">{{datas.billingname}}</li>
                                             <li class="grey">$ {{datas.billingprice}} / {{datas.billingunits}}</li>
                                             <li>{{datas.billingstatus}}</li>
                                             <li>{{datas.plugins.length}} Plugins</li>
                                             <li>{{datas.billingdescription}}</li>
                                             <li class="grey"><a href="#" ng-click="selectedPlugin(datas)"  class="button">{{billingbuttonName}}</a></li>
                                          </ul>
                                       </div>
                                       <div ng-if="billingPlan.billingPlans.length == 0">
                                          <p style="text-align: center; color: red;">No Result Found! </p>
                                       </div>
                                    </div>
                                    <div class="tab-pane active" id="address">
                                       <div  ng-repeat="datas in pluginselected track by $index" >
                                          <div class="columns"  ng-if="billingPlan.billingPlans.length != 0" ng-repeat="data in datas.plugins"  >
                                             <ul class="price">
                                                <li class="header" style="    background-color: #0fb2fc !important;">{{data.plugin_name}}</li>
                                                <li class="grey">{{data.plugin_version}} </li>
                                                <li>{{data.plugin_status}}</li>
                                                <li>{{data.plugin_description}}</li>
                                                <li>{{datas.billingdescription}}</li>
                                                <li class="grey"><a href="#" ng-click="addCredent(data, $index)"   class="button">Add Credentials</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div ng-if="billingPlan.billingPlans.length == 0">
                                          <p style="text-align: center; color: red;">No Result Found! </p>
                                       </div>
                                    </div>
                                 </div>
                                 <ul class="list-unstyled wizard list-inline text-center" >
                                    <li class="previous first" style="display:none;"><a href="#">First</a></li>
                                    <li ng-if="previousbuttons"  class="previous  "><a class ="Signupslider btn btn-raised btn-info pull-right" style="float: right !important;" href="#">Previous</a></li>
                                    <!-- <li class="next last" style="display:none;"><a href="#">Last</a></li> -->
                                    <li   class="next">                
                                       <a ng-click="emailCheck()" href="#"  style="float: left !important;"" class="Signupslider btn btn-raised btn-info pull-left">Next</a>
                                    </li>
                                    <li class="finish last" style="display:none;"><a href="#">Last</a></li>
                                    <li class="finish" ><a ng-click="userRegisteration()"  href="javascript:;" class="Signupslider btn btn-raised btn-info pull-left">Finish</a></li>
                                 </ul>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="center-block w-xxl w-auto-xs p-v-md ng-scope signin">
               <div class="navbar signincustomization">
                  SIGN IN 
               </div>
               <div class="p-lg panel md-whiteframe-z1 text-color m">
                  <form class="form-floating" ng-submit="login()">
                     <div class="form-group label-floating">
                        <label for="inputEmail" class="control-label">Username</label>
                        <input type="num" ng-model="loginDetails.username" class="form-control">
                     </div>
                     <div class="form-group label-floating">
                        <label for="inputPassword" class="control-label">Password</label>
                        <input type="password" ng-model="loginDetails.password" class="form-control" id="inputPassword">
                     </div>
                     <div class="form-group">
                        <div class="checkbox">
                           <label>
                           <input type="checkbox"> Remember me
                           </label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="input-field col s12">
                           <button type="submit"  class="btn1 waves-effect waves-light col s12">Login</button>
                        </div>
                     </div>
                     <div class="row">
                        <div class="input-field col s12 forgetpass ">
                           <p class="margin right-align medium-small"><a ng-click="forgetPassword()" style="color: #673ab7;">Forgot password ?</a></p>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
<!--    </body> -->
<script src="app/plugins/js/jquery.bootstrap.wizard.js"></script>
<script src="app/plugins/js/wizard.js"></script>
<script type="text/ng-template" id="credent">
   <form class="form-horizontal" role="form" name="vp.crentilalsformValidate"  data-parsley-validate="" novalidate="">
        <div class="row">
                  <div class="popupcredent">
                     <table  class="table tablestyled">
                     <tbody>
                        <tr ng-repeat="option in arraysList">
                           <td>                         
                              <input  id="address"   ng-model="option.key" name="address" placeholder="key" class="form-control parsley-success"  data-parsley-id="0951">
                          
                           </td>
                           <td style="position:relative;">
                                 <input type="text"  placeholder="value" name="paymentbill" ng-model="option.value"  value="" my-enter="addCredentials('credentials')" class="form-control">
                                 <span  ng-if="$index > 0" class="pluginremove" ng-click="removecredentials('credentials', $index)"><i class="fa fa-times-circle" style="font-size:15px" aria-hidden="true"></i></span>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                </div>
            </div >  
        <div class="ngdialog-buttons">
                <button type="button" class="btn-horz-o btn-left btn-fill-horz-o btn-save" ng-dialog-close-previous ng-click="confirm(arraysList)"> <i class="icon-save"></i> Yes
              </button>
         
            <button type="button" class="btn-horz-o btn-right btn-fill-horz-o btn-cancel" ng-click="closeThisDialog()" ng-dialog-close-previous><i class="icon-cancel"></i> Cancel
            </button>
        </div>
   </form>
</script>
<script type="text/ng-template" id="cancel">
   <h3 class="ngdialog-heading"><b>Forget Password</b></h3>
   <form class="form-horizontal" role="form" name="vp.paymentformValidate" ng-submit="Paymentvalidate(payment_mode)" data-parsley-validate="" novalidate="">
    <div class="ngdialog-message"> 
              Keys : 
          </div>
            
    
        <div class="ngdialog-buttons">
            <button type="submit"  class="btn-horz-o btn-left btn-fill-horz-o btn-save"><i class="icon-save"></i> Submit
            </button>
            
        </div>
   </form>
</script>
<script>
   $.material.init();
   
   
   $('#myModal').modal()  
    $(document).ready(function() {
   
            $('.resigster').click('click', function() {
                var $this = $('.resigform');
                var $is = $('.signin');
                if ($this.hasClass('hidden')) {
                $this.removeClass('hidden');
                $is.addClass('hidden');
                } else {
                console.log('memeory')
                $this.addClass('memory');
                }
            });
   
            $('.signs').click('click', function() {
                var $this = $('.resigform');
                var $is = $('.signin');
                if ($is.hasClass('hidden')) {
                $is.removeClass('hidden');
                $this.addClass('hidden');
                } else {
                console.log('memeory')
                $this.addClass('memory');
            }
    });
   
   });
</script>
<script>
   $('#requestdate1').bootstrapMaterialDatePicker({
    time: false,
    clearButton: false,
    switchOnClick: true,
    format: 'DD-MM-YYYY',
    maxDate: new Date()
    });
</script>
<script>
   $(document).ready(function() {
    var $validator = $("#commentForm").validate({
          rules: {
            username: {
              required: true,
              minlength: 4
            },
            firstname: {
              required: true,
              minlength: 4
            },
            email: {
              required: true,
              email: true,
              minlength: 4
            },
            password: {
              required: true,
              minlength: 4
            }
          },
          messages: {
            username: "please enter username",
            firstname: "please enter firstname",
            password: "please enter password",
            email:"please enter email"
            },
        });
   
       
    //     $('#rootwizard .finish').click(function() {
    //     alert('Finished!, Starting over!');
    //     $('#rootwizard').find("a[href*='tab1']").trigger('click');
    // });
   
   
   });
</script>