		<div class="right_col" role="main">
					<div class="title_left">
						<h3>System Settings</h3>
					</div>
					<div class="row top">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
						<div class="x_content">
								<div class="row">	
								<br>

									<div class="col-md-6 col-sm-6 col-xs-12">
	                                    <div class="col-md-12 col-sm-12 col-xs-12">
	                                           <div class="form-group label-floating is-empty is-focused">
	                                                <label class="control-label" for="vendorname">Currency Code</label>
	                                                <input type="text" value="USD" class="form-control" id="i5">
	                                            </div>
	                                        </div>
	                                    </div>	

	                                    <div class="col-md-6 col-sm-6 col-xs-12">
	                                    <div class="col-md-12 col-sm-12 col-xs-12">
	                                           <div class="form-group label-floating is-empty is-focused">
	                                                <label class="control-label " for="vendorname">Currency Symbol</label>
	                                                <input type="text" value="$" class="form-control" id="i5">
	                                            </div>
	                                        </div>
	                                    </div>	 
                                </div>

                                <br>
                                
                                <div class="">
									<div class="text-center full-width">	
										<button type="submit" class="btn-horz-o btn-left btn-fill-horz-o btn-save">
											<i class="fa fa-check"></i> Save
										</button>								
										<!-- <a href="plugins_list.html">
								<button class="btn-horz-o btn-right btn-fill-horz-o btn-cancel" > 
									<i class="fa fa-times"></i>Back </button></a> -->
									</div>
							</div>


							</div>
						</div>
					</div>
				</div>
			</div>